.title{
	text-align: center;
	font-family: "Comfortaa";
	font-size: 500%;
	color: black;
}

.sectitle{
	text-align: center;
	font-family: "PT Mono";
	font-size: 150%;
	text-transform: uppercase;
	color: black;
}

.survey-button{
	text-align: left;
	font-family: "PT Mono";
	font-size: 120%;
	text-transform: uppercase;
}


.survey-container{
	width: 50%;
	margin-left: 8%;
	text-align: left;
}
